<div class="row overflow-hidden gx-0 animated fadeInUp" style="background-image: url(https://wallpapercave.com/wp/wp7453794.jpg);">
    <div class="col-6">
        <div class="left-panel d-flex justify-content-center align-items-center">
            <div class="container-fluid flex-column text-center">
                <h2 class="mb-3 text-center text-white">Reniassance School</h2>
                <p class="mb-4 text-center"><small><a href="https://rcsldh.org" target="_blank" class="fs-5 bg-white rounded-2 p-1">Visit</a></small></p>
                <div class="container">
                    <div class="card border-dark shadow mb-3 text-center bg-transparent text-white mb-3" style="max-width: 25rem;">
                        <div class="card-header">Description</div>
                        <div class="card-body">
                            <p class="card-text">Crafted a sophisticated full-stack web solution for a school, harmonizing user-centric
                                interfaces, fortified security protocols, efficient database handling, and seamless
                                service integration.
                            </p>
                            <!-- <h6>Technologies Used: </h6>
                            <ul>
                                <li>AngularJS</li>
                                <li>NodeJS</li>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>Bootstrap</li>
                                <li>Google Firebase</li>
                            </ul> -->
                        </div>
                    </div>
                    <div class="card border-dark shadow mb-3 text-center mb-3 bg-transparent text-white" style="max-width: 25rem;">
                        <div class="card-header">Technologies Used: </div>
                        <div class="card-body">
                            <ul>
                                <li>AngularJS</li>
                                <li>NodeJS</li>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>Bootstrap</li>
                                <li>Google Firebase</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-6">
        <div class="right-panel">
            <iframe src="https://rcsldh.org" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>
</div>