<div class="container-fluid h-100 mt-5 p-4 bg-dark text-light"  style="background: transparent; background-image: url(https://wallpapercave.com/wp/wp7453794.jpg);">
    <h2 class="text-center">Scroll over my skills <i class="bi bi-arrow-right ms-2"></i></h2>
    <ul class="cards">
      <li class="card border-light bg-light text-dark text-center">
        <div>
          <h3 class="card-header bg-light p-2 fs-4">Angular</h3>
          <div class="card-content text-dark text-center m-4">
            <p>In web development, Angular is used to build dynamic and robust single-page applications (SPAs) with seamless user interactions, modular components, and efficient data binding.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
            <a href="" class="card-link bg-danger text-light">Learn More</a>
        </div>
      </li>
      <li class="card border-light bg-light text-dark text-center">
        <div>
          <h3 class="card-header bg-light p-2 fs-4">NodeJS</h3>
          <div class="card-content text-dark text-center m-4">
            <p>As a skilled Node.js developer, I leverage its runtime environment to create fast and scalable backend systems for web applications, handling server-side logic, data management, and real-time communication effectively.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
            <a href="" class="card-link bg-danger text-light">Learn More</a>
        </div>
      </li>
      <li class="card border-light bg-light text-dark text-center">
        <div>
          <h3 class="card-header bg-light p-2 fs-4">HTML5</h3>
          <div class="card-content text-dark text-center m-4">
            <p>With proficiency in HTML5, I craft the foundational structure of web pages, integrating multimedia elements, optimizing accessibility, and ensuring modern and responsive user interfaces for seamless browsing experiences.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
            <a href="" class="card-link bg-danger text-light">Learn More</a>
        </div>
      </li>
      <li class="card border-light bg-light text-dark text-center">
        <div>
          <h3 class="card-header bg-light p-2 fs-4">Bootstrap</h3>
          <div class="card-content text-dark text-center m-4">
            <p>Adept at utilizing Bootstrap, I design and implement visually appealing and mobile-responsive web interfaces efficiently, leveraging its CSS framework and pre-built components to streamline the development process.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
            <a href="" class="card-link bg-danger text-light">Learn More</a>
        </div>
      </li>
      <li class="card border-light bg-light text-dark text-center">
        <div>
          <h3 class="card-header bg-light p-2 fs-4">CSS3</h3>
          <div class="card-content text-dark text-center m-4">
            <p>As a skilled CSS3 user, I enhance web applications by styling HTML elements with advanced design techniques, animations, and responsiveness, resulting in visually captivating and user-friendly interfaces.</p>
          </div>
        </div>
        <div class="card-link-wrapper text-center">
          <a href="" class="card-link bg-danger text-light">Learn More</a>
        </div>
      </li>
      <li class="card border-light bg-light text-dark text-center">
        <div>
          <h3 class="card-header bg-light p-2 fs-4">Google Firebase</h3>
          <div class="card-content text-dark text-center m-4">
            <p>I skillfully leverage cloud-based services of Firebase to streamline backend development. This encompasses implementing secure authentication, real-time databases, and seamless hosting, culminating in the creation of responsive and scalable web applications.</p>
          </div>
        </div>
        <div class="card-link-wrapper text-center">
          <a href="" class="card-link bg-danger text-light">Learn More</a>
        </div>
      </li>
    </ul>
</div>
<div class="scrollmenu"></div>