<nav class="navbar navbar-expand-lg navbar-light fs-5" style="background: transparent; background-image: url(https://wallpapercave.com/wp/wp7453794.jpg);">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
        <!-- Left links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#"> Home </a>
          </li>
          <li class="nav-item">
            <a href="/education" class="nav-link active text-white"> Education </a>
          </li>
          <li class="nav-item">
            <a href="/projects" class="nav-link active text-white">Projects</a>
          </li>
          <li class="nav-item">
            <a href="/skills" class="nav-link active text-white">Skills</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>