<nav class="navbar navbar-expand-lg navbar-light fs-5" style="background: transparent; background-image: url(https://wallpapercave.com/wp/wp7453794.jpg);">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler btn text-center text-light border-light" type="button" data-bs-toggle="collapse" (click)="isMenuCollapsed = !isMenuCollapsed">
        <i class="bi bi-list text-white fs-1"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
        <div class="d-flex justify-content-center">
           <!-- Left links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#"> Home </a>
          </li>
          <li class="nav-item">
            <a href="/education" class="nav-link active text-white"> Education </a>
          </li>
          <li class="nav-item">
            <a href="/projects" class="nav-link active text-white">Projects</a>
          </li>
          <li class="nav-item">
            <a href="/skills" class="nav-link active text-white">Skills</a>
          </li>
        </ul>
        <!-- Left links -->
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->  
  </nav>