<section style="background-color: #F0F2F5;"  style="background: transparent; background-image: url(https://wallpapercave.com/wp/wp7453794.jpg);">
    <div class="container py-5">
      <div class="main-timeline">
        <div class="timeline left animated fadeInLeft">
          <div class="card">
            <div class="card-body p-4">
              <h5>2019-2023</h5>
              <h3>Bachelor of Technology in Computer Science</h3>
              <div class="row">
                <div class="col-6"><p class="heading">Vellore Institute of Technology, India</p></div>
                <div class="col-6"><a href="https://vitap.ac.in" target="_blank"><span class="badge bg-primary fs-6 ms-5">Website</span></a></div>
              </div>
              <ul>
                <li><span class="text-muted">Mandatory Subjects: </span><span>Operating System, Web Development, DBMS, Computer Networks</span></li>
                <li><span class="text-muted">Programming Languages: </span><span>Java, Javascript, Data Structures and Algorithms</span></li>
                <li><span class="text-muted">Elective Subjects: </span><span>Network Security, Mobile Application Development</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="timeline right animated fadeInRight">
          <div class="card">
            <div class="card-body p-4">
              <h5>2017-2019</h5>
              <h3>Senior Secondary Education</h3>
              <div class="row">
                <div class="col"><p class="heading">Sacred Heart Senior Secondary School, Ludhiana</p></div>
                <div class="col"><a href="http://www.sacredheartschoolludhiana.com" target="_blank"><span class="badge bg-primary fs-6 ms-5">Website</span></a></div>
              </div>
              <ul>
                <li><span class="text-muted">Stream: </span><span>Non-Medical</span></li>
                <li><span class="text-muted">Percentage: </span><span>89.8</span></li>
                <li><span>Opted for Informatic Practices as optional subject and learnt Java and MySQL for DBMS</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="timeline left animated fadeInLeft">
          <div class="card">
            <div class="card-body p-4">
              <h3>Matriculation</h3>
              <div class="row">
                <div class="col"><p class="heading">Sacred Heart Senior Secondary School, Ludhiana</p></div>
                <div class="col"><a href="http://www.sacredheartschoolludhiana.com" target="_blank"><span class="badge bg-primary fs-6 ms-5">Website</span></a></div>
              </div>
              <span class="text-muted">CGPA: </span><span>9.4</span>
            </div>
          </div>
        </div>
        <!-- <div class="timeline right">
          <div class="card">
            <div class="card-body p-4">
              <h3>2012</h3>
              <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
                mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
                dignissim per, habeo iusto primis ea eam.</p>
            </div>
          </div>
        </div>
        <div class="timeline left">
          <div class="card">
            <div class="card-body p-4">
              <h3>2011</h3>
              <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
                mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
                dignissim per, habeo iusto primis ea eam.</p>
            </div>
          </div>
        </div>
        <div class="timeline right">
          <div class="card">
            <div class="card-body p-4">
              <h3>2007</h3>
              <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
                mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
                dignissim per, habeo iusto primis ea eam.</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>