.no-border {
    border: none;
}

.icon-large {
    font-size: large;
}

.link-size {
    font-size: 18px;
}

.link-effect {
    text-decoration: none;   
}

body {
    background: #368dda;
}
  
.bubble {
  position: relative;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 500px;
  background: #fff;
  border-radius: 60px;
  padding: 24px;
  text-align: center;
  color: #000;
}
  
.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 30px;
  bottom: -24px;
}
  
a{
  color: #ffffff;
}

.fade-in-image{
  animation: fadeIn 3s;
}

.fade-in-text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-size: 150px; */
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation: mymove 3s ;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes fadeInDown{
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media(min-width: 320px) and (max-width: 370px){
  .bubble{
    width:280px;
    text-align: center;
    padding: 10px;
  }
  .bubble-bottom-left:before{
    left: 40px;
  }
}

@media(min-width: 371px) and (max-width: 420px){
  .bubble{
    width: 320px;
  }
}

@media(min-width: 421px) and (max-width: 521px){
  .bubble{
    width: 380px;
  }
}