  <div class="container-fluid" style="background-image: url(https://wallpapercave.com/wp/wp7453794.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="card no-border mt-3 bg-transparent text-white">
            <div class="d-flex flex-column">
              <div class="card-im p-3 d-inline-flex justify-content-center" style="align-items: center;">
                <img src="assets\img\Profile.jpg" alt="" class="fade-in-image rounded-circle" style="height: 35vh; width: 35vh;">
              </div>
              <div class="card-title">
                <h2 class="text-center">Vaibhav Sharma</h2>
              </div>
              <div class="card-subtitle">
                <h4 class="text-center">Full Stack Developer</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 mt-4">
          <div class="bubble bubble-bottom-left animated fadeInDown">
            <h5 class="card-title align-self-center">Hi there!</h5>
              <p class="card-text text-center m-2">I'm Vaibhav, a recent computer science graduate passionate about full-stack development. I'm skilled in front-end technologies like Angular and NodeJs and always looking for new challenges. I'm excited to share my work with you on this website. I hope you'll take some time to explore my projects, learn more about my skills, and get in touch if you have opportunities for me.</p>
              <div class="d-flex flex-row justify-content-center mt-3">
                <button type="button" class="btn-primary rounded-2 bg-transparent" (click)="openDoc()">Resume</button>
              </div>
              <div class="d-flex flex-row rounded justify-content-center mt-4" style="z-index: 1;">
                <a href="https://api.whatsapp.com/send?phone=918725020818" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp text-success fs-4"></i></a>
                <a href="mailto:vaibhav.sharma5301@gmail.com"><i class="bi bi-envelope fs-4 text-danger ms-2"></i></a>
                <a href="tel:+918725020818"><i class="bi bi-phone fs-4 ms-2 text-primary"></i></a>
                <a href="https://github.com/vs5301/" target="_blank" rel="noopener noreferrer"><i class="bi bi-github text-dark fs-4 ms-2"></i></a>
                <a href="http://www.linkedin.com/in/vaibhav-sharma-07357727a" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin text-primary fs-4 ms-2"></i></a>
              </div>
          </div>
        </div>
      </div>
      <div class="row g-2 mt-3">
        <div class="col-lg-6 mx-lg-5">
        </div>
        <div class="col-lg-6">
          <div class="card d-flex flex-column no-border bg-transparent text-white">
            <div class="card-title align-self-center">
              <h3>Key Skills</h3>
            </div>
            <div class="card-body align-self-center fade-in-text fs-4">
              <ul>
                <li>Angular</li>
                <li>NodeJs</li> 
                <li>Bootstrap</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Google Firebase</li>
                <li>Flutter</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card shadow bg-transparent text-white" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <div class="card-body d-flex flex-column">
              <div class="card-title align-self-center mt-3">
                <h4>Quick look at my projects</h4>
              </div>
              <div class="card-body">
                <ul class="my-2" style="list-style-type: none;">
                  <li><i class="bi bi-arrow-right me-3"></i><a class="link-size link-effect" target="_blank" href="https://feniximmigration.com">Fenix Immigration</a></li>
                  <li><i class="bi bi-arrow-right me-3"></i><a class="link-size link-effect" target="_blank" href="https://rcsldh.org">Renaissance School</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
