.btn-primary-outline{
    background-color: transparent;
    border-color: #ccc;
    border: none;
}

.rounded{
    border-radius: 2;
}

.navbar-nav .nav-item .btn.active {
    background-color: #007bff;
    /* Change to your desired active background color */
    color: #fff;
    /* Change to your desired active text color */
}